In [2]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

births = load_births()

print(sqldf("SELECT * FROM births where births > 250000 limit 5;"))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-03-01 00:00:00.000000  268849
2  1975-05-01 00:00:00.000000  254545
3  1975-06-01 00:00:00.000000  254096
4  1975-07-01 00:00:00.000000  275163

In [3]:
q = """
        select 
            date(date) as DOB,
            sum(births) as "Total Births"
        from
            births
        group by
            date
            limit 10
"""
print(sqldf(q, locals()))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [6]:
def pysqldf(q):
    "add this to your script if you get tired of calling locals()"
    return sqldf(q, globals())

In [7]:
print(pysqldf(q))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [17]:
pwd

'C:\\Users\\Tanja\\OneDrive - OsloMet\\Dokumenter\\datascience\\pythonsql\\Notebook\\Data'

In [18]:
dfcustomer = pd.read_csv('DimCustomer.csv')

In [19]:
dfcustomer.head(3)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,NaN,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,NaN,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2011-01-07,2-5 Miles

In [20]:
dfcustomer.set_index('CustomerKey', inplace=True)

In [21]:
dfcustomer

,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
CustomerKey,,,,,,,,,,,,,,,,,,,,,
11000,26,AW00011000,NaN,Jon,V,Yang,0,1971-10-06,M,NaN,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,2011-01-19,1-2 Miles
11001,37,AW00011001,NaN,Eugene,L,Huang,0,1976-05-10,S,NaN,...,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,2011-01-15,0-1 Miles
11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,1971-02-09,M,NaN,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,2011-01-07,2-5 Miles
11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,1973-08-14,S,NaN,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,2010-12-29,5-10 Miles
11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,1979-08-05,S,NaN,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29479,209,AW00029479,NaN,Tommy,L,Tang,0,1969-06-30,M,NaN,...,Clerical,Administrativo,EmployÃ©,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,2012-09-04,0-1 Miles
29480,248,AW00029480,NaN,Nina,W,Raji,0,1977-05-06,S,NaN,...,Clerical,Administrativo,EmployÃ©,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,2013-07-17,0-1 Miles
29481,120,AW00029481,NaN,Ivan,NaN,Suri,0,1965-07-04,S,NaN,...,Clerical,Administrativo,EmployÃ©,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,2011-08-13,0-1 Miles
29482,179,AW00029482,NaN,Clayton,NaN,Zhang,0,1964-09-01,M,NaN,...,Clerical,Administrativo,EmployÃ©,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,2012-09-18,0-1 Miles
29483,217,AW00029483,NaN,JÃ©sus,L,Navarro,0,1965-06-06,M,NaN,...,Clerical,Administrativo,EmployÃ©,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [22]:
pysqldf("select * from dfcustomer")

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,EmployÃ©,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,EmployÃ©,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Clerical,Administrativo,EmployÃ©,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,EmployÃ©,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,JÃ©sus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,EmployÃ©,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [24]:
dfinternetsales = pd.read_csv('FactInternetSales.csv')
dfinternetsales.dtypes

ProductKey                 int64
OrderDateKey               int64
DueDateKey                 int64
ShipDateKey                int64
CustomerKey                int64
PromotionKey               int64
CurrencyKey                int64
SalesTerritoryKey          int64
SalesOrderNumber          object
SalesOrderLineNumber       int64
RevisionNumber             int64
OrderQuantity              int64
UnitPrice                float64
ExtendedAmount           float64
UnitPriceDiscountPct       int64
DiscountAmount             int64
ProductStandardCost      float64
TotalProductCost         float64
SalesAmount              float64
TaxAmt                   float64
Freight                  float64
CarrierTrackingNumber    float64
CustomerPONumber         float64
OrderDate                 object
DueDate                   object
ShipDate                  object
dtype: object

In [25]:
print(pysqldf("""select FirstName, LastName, EnglishOccupation as 'Job Title' from dfcustomer
                order by LastName, FirstName limit 5"""))

   FirstName LastName       Job Title
0      Aaron    Adams  Skilled Manual
1       Adam    Adams      Management
2       Alex    Adams  Skilled Manual
3  Alexandra    Adams    Professional
4    Allison    Adams        Clerical

In [27]:
query = """select *
            from dfcustomer c
            left outer join dfinternetsales s
                on (c.CustomerKey = s.CustomerKey) limit 3
"""
pysqldf(query)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2013-05-03 00:00:00.000,2013-05-15 00:00:00.000,2013-05-10 00:00:00.000
1,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,1912.1544,1912.1544,3399.99,271.9992,84.9998,None,None,2011-01-19 00:00:00.000,2011-01-31 00:00:00.000,2011-01-26 00:00:00.000
2,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,1265.6195,1265.6195,2319.99,185.5992,57.9998,None,None,2013-01-18 00:00:00.000,2013-01-30 00:00:00.000,2013-01-25 00:00:00.000